<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Departamento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
          const modal = document.getElementById('confirmExitModal');
          const confirmButton = document.getElementById('confirmExitButton');
      
          modal.addEventListener('show.bs.modal', function (event) {
            // Activa el modal
            const triggerElement = event.relatedTarget;
            // Obtiene la URL del atributo data-url1
            const url = triggerElement.getAttribute('data-url');
            // Actualizar el href del botón en el modal
            confirmButton.setAttribute('href', url);
          });
        });
    </script>
    <style>
        body {
            height: 100vh;
            display: flex;
            overflow: hidden;
        }
        .sidebar {
            width: 250px;
            background-color: #343a40;
            color: white;
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
        }
        .sidebar a {
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            display: block;
        }
        .sidebar a:hover {
            background-color: #495057;
            border-radius: 4px;
        }
        .content {
            flex: 1;
            padding: 20px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
    <div class="sidebar">
        <h4 class="text-center mb-4">Inventario</h4>
        <a
        data-bs-toggle="modal" 
        data-bs-target="#confirmExitModal" 
        data-url="{% url 'index' %}">Inicio</a>

        <a
        data-bs-toggle="modal" 
        data-bs-target="#confirmExitModal" 
        data-url="{% url 'productos' %}">Productos</a>

        <a 
        data-bs-toggle="modal" 
        data-bs-target="#confirmExitModal" 
        data-url="{% url 'proveedores' %}">Proveedores</a>

        <a class="nav-link active"
        data-bs-toggle="modal" 
        data-bs-target="#confirmExitModal"
        data-url="{% url 'departamentos' %}" >Departamentos</a>

        <a
        data-bs-toggle="modal" 
        data-bs-target="#confirmExitModal"
        data-url="{% url 'lotes' %}">Lotes</a>
        <hr class="my-5">

        <a
        data-bs-toggle="modal" 
        data-bs-target="#confirmExitModal"
        data-url="{% url 'logout' %}"
        href="{% url 'logout' %}" class="nav-link">Cerrar Sesión</a>
    </div>

        <!-- Modal de Confirmación General -->
        <div class="modal fade" id="confirmExitModal" tabindex="-1" aria-labelledby="confirmExitModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmExitModalLabel">Confirmar Salida</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas salir de esta página? Podrías tener cambios sin guardar.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <!-- El botón "Salir" se actualizará dinámicamente -->
                        <a href="#" id="confirmExitButton" class="btn btn-danger">Salir</a>
                    </div>
                </div>
            </div>
            </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">{% if editar %}Modificar Departamento{% else %}Ingresar Departamento{% endif %}</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
              </div>
            </div>
              <div class="container my-3">
                <form method="post" class="row">
                    {% csrf_token %}
                    <div class="col-md-6 gy-3">
                        <label for="form_codigo" class="form-label">ID Departamento</label>
                        {{ form.id_departamento }}

                        {% if form.id_departamento.errors %}
                        <div class="alert alert-danger">
                            {{ form.id_departamento.errors }}
                        </div>
                        {% endif %}
                    </div>
                
                    <div class="col-md-6 gy-3">
                        <label for="formFile" class="form-label">Nombre</label>
                        {{ form.nombre }}
                    </div>
                
                    <div class="d-grid my-5">
                        <button type="submit" class="btn {% if editar %}btn-warning{% else %}btn-success{% endif %}">
                            {% if editar %}Modificar Departamento{% else %}Ingresar Departamento{% endif %}
                        </button>
                    </div>
                </form>
            </div>
        
        </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
