<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        body {
            height: 100vh;
            display: flex;
            overflow: hidden;
        }

        .sidebar {
            width: 250px;
            background-color: #343a40;
            color: white;
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
        }

        .sidebar a {
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            display: block;
        }

        .sidebar a:hover {
            background-color: #495057;
            border-radius: 4px;
        }

        .content {
            flex: 1;
            padding: 20px;
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <div class="sidebar">
        <h4 class="text-center mb-4">Inventario</h4>
        <a href="/" >Inicio</a>
        <a href="{% url 'productos' %}" class="nav-link active">Productos</a>
        <a href="{% url 'proveedores' %}">Proveedores</a>
        <a href="{% url 'departamentos' %}">Departamentos</a>
        <a href="{% url 'lotes' %}">Lotes</a>
        <hr class="my-5">

        <a href="{% url 'logout' %}" class="nav-link">Cerrar Sesión</a>
    </div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Ingresar Producto</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>

        </div>

        <div class="d-grid gap-2">
            <a href="{% url 'ingresar_producto' %}" class="btn btn-success" type="button">Ingresar producto</a>
        </div>

        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Buscar Productos</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
        </div>
            <div class="col-md-4">
                <div>
                    <form method="get" action="" class="mb-4">
                        <div class="input-group">
                            <select name="tipo" class="form-select" style="max-width: 150px;">
                                <option value="codigo" {% if tipo_busqueda == 'codigo' %}selected{% endif %}>Por Código</option>
                                <option value="nombre" {% if tipo_busqueda == 'nombre' %}selected{% endif %}>Por Nombre</option>
                            </select>
                            <input type="text" name="termino" class="form-control" 
                                   placeholder="Buscar producto..." 
                                   value="{{ termino }}" required>
                            <button class="btn btn-outline-primary" type="submit">Buscar</button>
                        </div>
                    </form>
                </div>
                
                {% if buscar %}
                <div class="card">
                    <div class="card-header">
                        Producto encontrado: {{ buscar.nombre }}
                    </div>
                    <div class="card-body">
                        <p><strong>Código:</strong> {{ buscar.codigo }}</p>
                        <p><strong>Descripción:</strong> {{ buscar.descripcion }}</p>
                        <p><strong>Precio Costo:</strong> ${{ buscar.precio_costo }}</p>
                        <p><strong>Precio Venta:</strong> ${{ buscar.precio_venta }}</p>
                        <p><strong>Departamento:</strong> {{ buscar.departamento }}</p>
                        <p><strong>Proveedor:</strong> {{ buscar.proveedor }}</p>
                    </div>
                </div>
                {% elif termino %}
                <div class="alert alert-warning display-6 text-center">
                    No se encontró el producto
                </div>
                {% endif %}
            </div>



        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Productos</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
        </div>

        {% if productos %}
        <table class="table table-bordered table-primary">
            <thead>
                <tr style="text-align: center">
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio Costo</th>
                    <th>Precio Venta</th>
                    <th>Departamento</th>
                    <th>Proveedor</th>
                    <th class="table-warning">¿Actualizar?</th>
                    <th class="table-danger">¿Eliminar?</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr class="table-secondary">
                    <td scope="row" class="table-primary"
                        style="word-wrap: break-word; min-width: 50px; text-align: center;">{{ producto.codigo }}</td>
                    <td style="word-wrap: break-word; min-width: 150px; text-align: center;">{{ producto.nombre }}</td>
                    <td style="word-wrap: break-word; min-width: 150px;text-align: center;">
                        {% if producto.descripcion %}
                        {{ producto.descripcion }}
                        {% else %}
                        <strong>N/A</strong>
                        {% endif %}
                    </td>
                    <td style="word-wrap: break-word; min-width: 60px; max-width: 70px; text-align: center;">${{ producto.precio_costo }}
                    </td>
                    <td style="word-wrap: break-word; min-width: 60px; max-width: 70px; text-align: center;">${{ producto.precio_venta }}
                    </td>
                    <td style="word-wrap: break-word; min-width: 50px; max-width: 50px; text-align: center;">{{ producto.departamento }}
                    </td>
                    <td style="word-wrap: break-word; min-width: 50px; max-width: 50px; text-align: center;">{{ producto.proveedor }}
                    </td>
                    <td class="table-warning" style="text-align: center;">
                        <a href="{% url 'modificar_producto' producto.id %}" class="btn btn-warning">Actualizar</a>
                    </td>
                    <td class="table-danger" style="text-align: center;">
                        <button class="btn btn-danger ms-3" data-bs-toggle="modal"
                            data-bs-target="#deleteModal{{ producto.id }}">
                            Eliminar
                        </button>
                    </td>
                </tr>

            </tbody>

            <!-- Modal de confirmación de eliminación -->
            <div class="modal fade" id="deleteModal{{ producto.id }}" tabindex="-1"
                aria-labelledby="deleteModalLabel{{ producto.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel{{ producto.id }}">Confirmar eliminación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro de que deseas eliminar el producto llamado <strong>{{ producto.nombre }}</strong>?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a href="{% url 'eliminar_producto' producto.id %}" class="btn btn-danger">Eliminar</a>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </table>


        {% else %}
        <div class="alert alert-warning" style="text-align: center; border-radius: 8px;">
            <h1>NO HAY PRODUCTOS INGRESADOS</h1>
        </div>
        {% endif %}
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>